template(name='register')
	h1 Register
	input#phone(type='text', placeholder='Phone Number')
	button#verify Get Verfication Code
	input#code(type='text', placeholder='Verification Code')
	input#password(type='password', placeholder='password')
	button#register Register
	a(href="{{pathFor route='login'}}") Login
