template(name='teacher')
	.teacher
		h1 Teacher's Page
		h1 {{currentUser.username}}
		h2 Teacher
		button#teacher_logout Logout
		button#teacher_availability_insert Insert
		each availabilities
			p From {{start}}
			p end {{end}}
			p {{status}}